body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding-left:10%;
}
section{
    display:flex;
}
.mission{
    color:orange;

}
h1{
    font-size: 55px;
}
.first-section{
    width:50%;

}
.prothom-border{
        border-left:4px solid orange ;
}
.first-section img{
    width:80%;
}

 .Explore-link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding:10px 20px;
    color:papayawhip;
    font-weight: 500;
    border-radius: 10px;
}
.second-section{
    display:flex;
    
}

.first-div{width:33%;}
.illusstrator-pic{
    width:200px;
}

.Documentation-link{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato );
    padding:10px 10px;
    color:papayawhip;
    font-weight:500;
    border-radius:10px;
    
}


.first-div{
    
    width:50%;
    padding-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 8px 10px 10px blue;
}

.third-section img{
    width:80%;
}

#second-section-first-div{
    background-image:linear-gradient(gray,orange);
}

#second-s-second-div{
    background-image:linear-gradient(yellow,red);
}
#second-s-third-div{
    background-image:linear-gradient(orange,red);
}
.first-div{
    border-radius: 20px;
}
.forth-section img{
    width:60%;
}
.fivth-section img{
    width:auto;
}
.fucas{
    padding-left: 50px;
}
.matha{
border-radius: 15px;
}

.last-mission{
    color:white;
}



.foter{
    width:auto;
    height:auto;
    background-color:black;
}