body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding-left:10%;
    padding-right: 10px;
}
section{
    display:flex;
    width:100%;
    overflow:hidden;
}
.mission{
    color:orange;

    
}
.week{width:500px;
}
#mison{
    margin-top:-45px ;
}
h1{
    font-size: 55px;
}
.first-section{
    width:50%;

}
.prothom-border{
        border-left:4px solid orange ;
}
.first-section img{
    width:80%;
}
.without-limite{
    margin-top:-45px ;
}

 .Explore-link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding:10px 20px;
    color:papayawhip;
    font-weight: 500;
    border-radius: 10px;
}
.second-section{
    display:flex;
    
}

.first-div{width:33%;}
.illusstrator-pic{
    width:200px;
}

.Documentation-link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding:10px 20px;
    color:papayawhip;
    font-weight: 500;
    border-radius: 10px;
  
}
.Discription-link{text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding:10px 20px;
    color:papayawhip;
    font-weight: 500;
    border-radius: 10px;

}


.first-div{
    
    width:50%;
    padding-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 8px 10px 10px blue;
}
.third-section{width:50%;}
.devlop-limit{width:50%;}
.third-section img{
    width:80%;
}

#second-section-first-div{
    background-image:linear-gradient(gray,orange);
}

#second-s-second-div{
    background-image:linear-gradient(yellow,red);
}
#second-s-third-div{
    background-image:linear-gradient(orange,red);
}
.first-div{
    border-radius: 20px;
}
.forth-section img{
    width:50%;
    margin-top:50px ;
    margin-left: 90px;

}
.fivth-section img{
    width:auto;
}
.fucas{
    padding-left: 50px;
}
.matha{
border-radius: 15px;
}

.last-mission{
    color:white;
    margin-top:-55px;
  
}
.last-s{
    margin-top:-55px;
    color:white;
}




.ABC{ color:orange;
    margin-top:-30px;
}
footer {
    width: 100%;
    height: 150px;
    background: #0b0d17;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    font-family: Lobster;
    font-style: normal;
  }
#global-community{
    margin-top:-45px;
}